#log-in {
    background-color: #343a40 !important;
}

@media screen and (max-width: 414px) {
    button {
        color: white !important;
    }
/* LOG IN*/
    .logo_econsulo {
        position: relative;
        left: 10%;
        padding: 10%;
        width: 270px;
        height: 150px;
    }
    
    .user-psswd {
        padding: 5%;
    }
    
    #user-login {
        width: 100%;
    }
    
    .separator {
        text-align: center;
        padding: 5%;
        color: white;
    }
    
    .social-media-login {
        padding: 5%;
    }
    
    #Facebook-login {
        background-color: #4267b2;
        border-color: #4267b2;
        width: 100%;
        height: 50px;
        color: white;
    }
    
    #Google-login {
        margin-top: 5%;
        background-color: #db4437;
        border-color: #db4437;
        width: 100%;
        height: 50px;
        color: white;
    }

/* HOME */
    section {
        overflow: scroll;
        display: block;
        width: 91%;
        height: 62%;
        position: fixed;    
        top: 35%;
    }

    #enavbar {
        background-color: #343a40 !important;
    }

    .burger-menu {
        width: 35px;
        height: 5px;
        background-color: white;
        margin: 6px 0;
    }

    /* Nav Bar */
    .sideNav {
        height: 100%; 
        width: 0; 
        position: fixed; 
        z-index: 1; 
        top: 0; 
        left: 0;
        background-color: #e2e3e5;
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.5s;
    }

    .sideNav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 20px;
        color: #383d41;
        display: block;
        transition: 0.3s;
    }

    .sideNav a:hover {
        color: #dc3545;
    }
 
    .sideNav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 25px;
        margin-left: 50px;
    }

    #search-bar {
        padding: 5%;
    }

    #nav-icons {
        padding-right: 5%;
    }

    .btn-group {
        padding-left: 5%;
        padding-right: 5%;
    }

    /* MENTORS */
    .mentors {
        padding: 5%;
        width: 100%;
        height: 130px;
        background: #cce5ff;
        border-width: 1px;
        border-style: solid;
        border-color: #383d41
    }

    #profile-icon {
        color: #383d41;
    }

    .title {
        font-size: 35%;
        color: #383d41;
        height: 95px;
        overflow: scroll;
    }

    .identification {
        font-size: 30%;
        color: #383d41;
        margin-top: 0;
    }

    .fa-star {
        font-size: 30%;
    }

    #button-search{
        background: #383d41 !important;
        z-index: 0;
    }

    .description {
        color: #383d41;
        font-size: 25%;
        margin-top: 0%;
        margin-left: -30%;
        width: 140%;
        height: 80px;
        overflow: scroll;
        border: 1px solid;
        padding: 3%;
    }

    .price {
        font-weight: bold;
        font-size: 14px;
        color: #383d41;
        position: absolute;
        right: 10%;
        bottom: 1%;
    }

    /* CATEGORIES */
    #categories {
        overflow: scroll;
        height: 90%;
        margin-top: 7%;
    }

    .cat-label {
        width: 100%;
        height: 145px;
        background-color: #cce5ff;
    }

    #cat-icon {
        height: 70%;
        width: 70%;
        margin-left: 15%;
        margin-top: 7%;
        color: #007bff;
    }

    #cat-name {
        color: #218838 !important;
        margin-top: 2% !important;
        text-align: center;
        font-size: 70%;
    }
}